<!DOCTYPE html>
<html>
<head>
	<title>webcamp</title>
</head>
<body>
	<h1>welcome to Bookers !!</h1>
	<h2>you can share and exchange your opinions , inpressions , and emotions</h2>
	<h2>about various books!</h2>
  <p><%=link_to "Log in",new_user_session_path %></p>
  <p><%=link_to "Sign up",new_user_registration_path %></p>
</body>
</html>